h1   {color: white; font-family: arial;}
h2   {color: white; font-family: arial;}
h3   {color: white; font-family: arial;}
h4   {color: white; font-family: arial;} 
p    {color: #99aab5; font-family: arial;}
body  {background-color: #2a2d32;}
#navList {
    list-style-type: none;
    margin: -0.8%;
    padding: 0;
    overflow: hidden;
    background-color: #7289da;
}
#verli {
    float: left;
}
#verli #a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial;
    position: absolute;
    top: 50%;
}
